/* /////////////////////////////////////////////////////

PROJECT NAME

///////////////////////////////////////////////////// */



/* Variables
--------------------------------------------- */

$base-color: #666666;
$highlight-color: #ea2427;
$body-font: Helvetica, Arial, sans-serif;
$break-small: 480px;



/* Imports
--------------------------------------------- */

@import "base";
@import "grid";
@import "utils";
@import "layout";
@import "modules";
@import "pages";



