/* /////////////////////////////////////////////////////

BASE STYLES
Only single elements. No classes or ids.

///////////////////////////////////////////////////// */

*, *:after, *:before 
  box-sizing border-box

html 
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  -webkit-font-smoothing antialiased

body 
  font-family body-font
  font-size body-font-size
  line-height base-line-height
  color base-color
  
h1, h2, h3, h4, h5 
  margin global-margin 0
  font-weight bold

h1
  font-size 48px

h2
  font-size 38px

h3 
  font-size 24px 

h4
  font-size 20px 

h5
  font-size 18px 
  
 
p, ol, ul
  margin global-margin 0

// p 

// ol 

ul 
  list-style disc
  margin-left global-margin

a 
  &:hover 
    // 
  &:active 
    // 
  &:focus
    outline none

strong
  font-weight bold
  
em
  font-style italic

hr
  // 

blockquote
  // 

form
  // 

label 
  //

input 

input[type=text] 
  //

textarea 
  // 

select
  // 