@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-marker:before { content: "\E001" }
.icon-rectangle:before { content: "\E002" }
.icon-tag:before { content: "\E003" }
.icon-glyph01:before { content: "\E004" }
.icon-glyph02:before { content: "\E005" }
.icon-glyph03:before { content: "\E006" }
.icon-glyph04:before { content: "\E007" }
.icon-glyph05:before { content: "\E008" }
.icon-glyph06:before { content: "\E009" }
.icon-glyph07:before { content: "\E00A" }
.icon-glyph08:before { content: "\E00B" }
.icon-glyph09:before { content: "\E00C" }
.icon-glyph10:before { content: "\E00D" }
.icon-glyph11:before { content: "\E00E" }
.icon-glyph12:before { content: "\E00F" }
.icon-glyph13:before { content: "\E010" }
.icon-glyph14:before { content: "\E011" }
.icon-glyph15:before { content: "\E012" }
.icon-glyph16:before { content: "\E013" }
.icon-glyph17:before { content: "\E014" }
.icon-glyph18:before { content: "\E015" }
.icon-glyph19:before { content: "\E016" }
.icon-glyph20:before { content: "\E017" }
.icon-glyph21:before { content: "\E018" }
.icon-glyph22:before { content: "\E019" }
.icon-glyph23:before { content: "\E01A" }
.icon-glyph24:before { content: "\E01B" }
.icon-glyph25:before { content: "\E01C" }
.icon-glyph26:before { content: "\E01D" }
.icon-glyph27:before { content: "\E01E" }
.icon-glyph28:before { content: "\E01F" }
.icon-glyph29:before { content: "\E020" }
.icon-glyph30:before { content: "\E021" }
.icon-glyph31:before { content: "\E022" }
.icon-glyph32:before { content: "\E023" }