/* /////////////////////////////////////////////////////

UTILS
General CSS utilities and SASS mixins

///////////////////////////////////////////////////// */


.gpu
  transform translateZ(0)

.hide-text
  border 0
  font 0/0 a
  text-shadow none
  color transparent
  background-color transparent


/* Responsive Mixins
   see: http://jakearchibald.github.com/sass-ie
------------------------------------------------ */

// To create min-width media queries
above(width)
  if fix-mqs
    if fix-mqs >= width
      {block}
  else
    @media screen and (min-width: width)
      {block}


// To create max-width media queries
below(width)
  if fix-mqs
    if fix-mqs <= width
      {block}
  else
    @media screen and (max-width: width)
      {block}


// For only old IE
old-ie()
  if $old-ie
    {block}


// Hide on mobile
.no-mobile
  display: none
  
  +above(tablet)
    display block


// Only on mobile
.mobile-only
  display: block
  
  +above(tablet)
    display none
    