/* /////////////////////////////////////////////////////

See WINTR Stylus Boilerplate Repo

https://github.com/WINTR/stylus-boilerplate

///////////////////////////////////////////////////// */

body
  padding 30px 
  background #eee
  color #444
  font-family helvetica

h1
  font-size 60px 
  font-weight bold  
  text-align center